/* RESPONSIVIDADE  HOME DESKTOP*/
@media screen and (max-width: 1596px) {
  /* PRODUTO */
  .produtos-lista {
    width: 1007px;
    padding-left: 0;
    margin: 0 295px;
  }
  .produto-item1 {
    margin-left: 0;
  }

  /* CLIENTE */
  .foto-cliente {
    margin: 0 90px;
  }

  /* FOOTER */
  .footer-historia {
    padding-left: 50px;
  }
  .footer-contato {
    padding-left: 200px;
  }
  .footer-redes {
    padding-left: 350px;
  }
}

@media screen and (max-width: 1371px) {
  /* PRODUTO */
  .produtos-lista {
    margin: 0 182px;
  }

  /* CLIENTE */

  .foto-cliente {
    width: 1216px;
  }
  .foto-cliente img {
    width: 300px;
  }
  /* FOOTER */
  .footer-contato {
    padding-left: 100px;
  }
  .footer-redes {
    padding-left: 260px;
  }
}

@media screen and (max-width: 1250px) {
  /* MENU */

  .menu-nav a:hover {
    color: #fff;
  }
  /* INTRODUÇAO */
  .intro {
    padding: 30px 10px;
  }
  /* PRODUTO */
  .produtos-lista {
    margin: 0 121px;
  }
  /* CLIENTES */
  .foto-cliente {
    margin: 20px 17px;
  }
  /* FOOTER */
  .footer-historia {
    padding-left: 71px;
  }

  .footer-contato {
    padding: 0 50px;
  }

  .footer-redes {
    padding: 0 50px;
  }

  .copy p {
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .produtos-lista {
    margin: 0;
    padding: 0;
  }
  .produto-item {
    margin-left: 20px;
  }
  .produto-item a {
    padding: 30px 108px;
  }
  /* CLIENTE */
  .foto-cliente {
    margin: 20px 32px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
  }
  .foto-cliente IMG {
    width: 220px;
    margin: 10px 10px;
  }
  /* FOOTER */
  .footer-redes li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 964px) {
  /* Header */
  .header-nav {
    width: 490px;
  }

  /* PRODUTO */
  .produtos-lista {
    margin: 0 76px;
    width: 792px;
  }
  .produto-item {
    height: 350px;
  }
  .produto-icone {
    width: 250px;
  }
  .produto-item img {
    width: 250px;
  }
  .produto-item a {
    width: 48px;
    padding: 32px 101px;
    padding-left: 69px;
    padding-right: 133px;
  }
  .produto-item3 a {
    padding: 32px 101px;
  }

  /* CLIENTE */
  .foto-cliente {
    margin: 0 77px;
    width: 810px;
  }
  .foto-cliente img {
    width: 250px;
  }

  /* FOOTER */
  /* .footer-redes li {
    margin-bottom: 10px;
  } */
}
@media screen and (max-width: 834px) {
  .produtos-lista {
    margin: 0;
  }
  .foto-cliente {
    margin-left: 12px;
  }
}

@media screen and (max-width: 824px) {
  .foto-cliente {
    margin-left: 8px;
  }
}
@media screen and (max-width: 810px) {
  .produtos-lista {
    margin-left: 10px;
    width: 775px;
  }
  .produto-item {
    margin: 0 10px;
  }
  .produto-item1 {
    margin-left: 0;
  }

  /* CLIENTE */
  .foto-cliente {
    width: 750px;
    margin: 21px 30px;
  }
  .foto-cliente img {
    width: 230px;
  }
  /* FOOTER */
  .footer-historia {
    padding-left: 38px;
  }
  .footer-contato ul {
    width: 200px;
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
  .header-nav {
    padding: 20px 145px;
    width: 478px;
  }
  .menu-nav {
    padding-left: 45px;
    padding-top: 10px;
  }

  .intro h1 {
    font-size: 1em;
    padding: 0;
  }
  .intro p {
    padding: 15px;
  }

  /* PRODUTOS */
  .produtos-cont {
    height: 350px;
  }
  .produto-cont2 {
    height: 400px;
  }

  .produtos-lista {
    width: 528px;
    height: 300px;
    margin: 0 93px;
  }
  .produto-item {
    width: 180px;
    height: 250px;
  }
  .produto-icone {
    width: 180px;
    height: 232px;
  }

  .produto-icone img {
    width: 180px;
    height: 232px;
  }
  .produto-item a {
    text-align: center;
    width: 180px;
    padding: 20px 0;
  }

  /* CLIENTES */

  .foto-cliente {
    margin: 0 9px;
  }

  /* FOOTER */

  .footer {
    height: 273px;
  }
  .footer-cont {
    height: 281.5px;
    padding: 0 40px;
  }

  .footer-historia {
    width: 215px;
    height: 100px;
  }

  .footer-historia {
    padding-left: 0;
  }

  .footer-contato {
    padding-left: 30px;
    padding-right: 0px;
  }
  .footer-redes {
    padding-right: 0px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 543px) {
  .header {
    width: 543px;
    display: flex;
    padding: 20px 0px;
  }

  .header-nav {
    padding: 0;
    width: 543px;
  }
  .menu-nav {
    display: none;
    padding-top: 10px;
    padding-left: 10px;
    /* width: 543px; */
  }
  .header-nav a {
    width: 511px;
  }
  .menu-nav ul {
    flex-direction: column;
  }
  .menu-nav ul a {
    padding: 10px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }

  .menu-ativo {
    display: flex;
  }
  .logo {
    width: 150px;
    padding: 0 10px;
  }
  .barra {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 20px;
  }
  .barra img {
    display: flex;
    width: 20px;
    padding-left: 20px;
  }
  .logo {
    padding-left: 87px;
  }

  /* PRODUTO */
  .produtos-cont {
    height: 980px;
  }
  .produtos-lista {
    flex-direction: column;
    width: 182px;
    padding-left: 0px;
    margin: 0 180px;
  }
  .produto-icone {
    height: 247px;
  }
  .produto-item {
    margin-bottom: 70px;
    margin-left: 0;
  }
  /* CLIENTE */
  .cliente {
    display: none;
  }
  /* FOOTER */
  .bg-footer {
    margin-top: 0;
  }
  .footer {
    height: 347px;
  }
  .footer-cont {
    height: 315px;
    padding: 0;
  }
  .footer-historia {
    width: 214px;
    height: 312px;
    padding-left: 15px;
  }
  .footer-historia p {
    width: 220px;
  }
  .footer-contato {
    padding-left: 15px;
  }
  .footer-redes {
    width: 73px;
    height: 293px;
    padding-left: 15px;
  }
  .copy {
    height: 86px;
  }
  .copy p {
    padding-top: 36px;
  }
}
@media screen and (max-width: 428px) {
  .header {
    width: 427px;
  }
  .header-nav {
    width: 427px;
  }
  .header-nav a {
    width: 414px;
  }
  .produtos-lista {
    margin: 0 122px;
  }
  .footer-cont {
    font-display: flex;
    flex-direction: column;
    height: 646px;
    margin-right: 100px;
    margin-left: 92px;
  }
  .footer-cont p {
    padding-bottom: 10px;
  }
  .footer-contato ul {
    padding-bottom: 10px;
  }
  .footer {
    height: 530px;
  }
  .footer-cont {
    height: 530px;
  }
  .footer-historia {
    padding-left: 0;
  }
  .footer-contato {
    padding-left: 0;
  }
  .footer-redes {
    padding-left: 0;
  }
  .footer-redes ul {
    display: flex;
  }
}
@media screen and (max-width: 414px) {
  .header {
    width: 414px;
  }
  .header-nav {
    width: 414px;
  }
  .header-nav a {
    width: 400px;
  }
  .menu-nav {
    width: 414px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 412px) {
  .header {
    width: 412px;
  }
  .header-nav {
    width: 412px;
  }
  .header-nav a {
    width: 400px;
  }
  .menu-nav {
    width: 412px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 390px) {
  .header {
    width: 390px;
  }
  .header-nav {
    width: 390px;
  }
  .header-nav a {
    width: 380px;
  }
  .menu-nav {
    width: 390px;
    padding-left: 10px;
  }
  /* PRODUTOS */
  .produtos-lista {
    margin: 0 104px;
  }
}
@media screen and (max-width: 384px) {
  .header {
    width: 384px;
  }
  .header-nav {
    width: 384px;
  }
  .header-nav a {
    width: 374px;
  }
  .menu-nav {
    width: 384px;
    padding-left: 10px;
  }
  /* PRODUTOS */
  .produtos-lista {
    margin: 0 101px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    width: 375px;
  }
  .header-nav {
    width: 375px;
  }
  .header-nav a {
    width: 365px;
  }
  .menu-nav {
    width: 375px;
    padding-left: 10px;
  }
  /* PRODUTOS */
  .produtos-lista {
    margin: 0 96px;
  }
}

@media screen and (max-width: 360px) {
  .header {
    width: 360px;
  }
  .header-nav {
    width: 360px;
  }
  .header-nav a {
    width: 350px;
  }
  .menu-nav {
    width: 360px;
    padding-left: 10px;
  }
  /* PRODUTOS */
  .produtos-lista {
    margin: 0 89px;
  }
  /* FOOTER */
  .footer-cont {
    width: 215px;
    margin: 0 72px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
  }
  .header-nav {
    width: 320px;
  }
  .header-nav a {
    width: 310px;
  }
  .menu-nav {
    width: 320px;
    padding-left: 10px;
  }
  /* PRODUTOS */
  .produtos-lista {
    margin: 0 69px;
  }
  /* FOOTER */
  .footer-cont {
    margin: 0 52px;
  }
  .copy {
    height: 100px;
  }
}
